$color_1: #4c4c4c;
$font-family_1: 'Open Sans', sans-serif;
$background-color_1: #0D47A1;

.order-form {
	.container {
		color: $color_1;
		padding: 20px;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
		max-width: 650px;
	}
}
.order-form-label {
	margin: 8px 0 0 0;
	padding-left:8px;
	font-size: 14px;
	font-weight: bold;
}
.order-form-input {
	font-family: $font-family_1;
	font-size: 14px;
}
.form-label {
	font-family: $font-family_1;
	font-size: 14px;
}
.form-check-label {
	font-family: $font-family_1;
	font-size: 14px;
}
.btn-submit {
	&:hover {
		background-color: $background-color_1 !important;
	}
}

.container-for-name-and-surname {
	display: inline-flex;
}

.form-outline-left {
	margin-right: 10px;
  }
  
.form-outline-right {
	margin-left: 10px;
}
.title-inside-form {
	margin-top: 15px;
	margin-bottom: 10px;
	font-size : 20px;
}

.umbrella-form {
	border: solid black 5px; 
	padding-bottom: 7px;
}